<div class="card-container">
  <ion-card class="custom-card">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Read NFC</ion-card-title>
    </ion-card-header>

  </ion-card>

  <ion-card class="custom-card">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Write NFC</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>