<div class="card-container">
  <ion-card class="custom-card" routerLink="/modal-input">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>SCAN</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="custom-card" routerLink="/modal-input">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>INPUT MANUAL</ion-card-title>
    </ion-card-header>
  </ion-card>
</div>